body {
    background: #f9f9f9;
    font-family: "minion-pro-caption", Georgia;
    color: #333;
}

.wrapper {
    max-width: 780px;
    margin: 184px auto 0;
}

h1 a {
    font-weight: normal;
    font-size: 48px;
    color: #333;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

p {
    font-size: 29px;
    line-height: 1.6;
    margin: 42px 0;
}

p:nth-child(2) {
    margin-top: 70px;
}

p:nth-child(2) a {
    position: relative;
    text-decoration: none;
    color: #222;
    border-bottom: 1px dotted #c3255e;
}

p:nth-child(2) a:hover {
    color: #c3255e;
    border-bottom: 1px dotted #222;
    text-decoration: none;
}

p:nth-child(2) a:before {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 9px;
    width: 18px;
    height: 3px;
    background: #f9f9f9;
}

p:nth-child(3) a {
    color: #c3255e;
    text-decoration: none;
}

p:nth-child(3) a:hover {
    color: #333;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .wrapper {
         margin-top: 113px;
         text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
         margin-top: 69px;
    }

    h1 a {
        font-size: 29px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 25px 0;
    }

    p:nth-child(2) {
        margin-top: 43px;
    }
}
